body{
    background-image: linear-gradient( rgb(45, 1, 45), purple, rgb(224, 3, 224));
    background-repeat: no-repeat;
    height: 445px;
    overflow-x: hidden;
}
.container{
    margin-top: -300px;
    margin-left: 100px ;
    border-radius: 10%;
    width: 300px;
    height: 500px;
    padding: 5px 100px;
    background-color: rgb(244, 194, 242);
    cursor: default;
}
.container .logo{
    width: 150px;
    border-radius: 80%;
    margin-top: -15px;
    cursor:none;
}
h3, h2{
    text-align: center;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
}
h1:hover{
    text-shadow: 5px 5px 5px grey;
}
.one{
    margin-top: 15px;
}
img{
    margin-left: 80px;
}
#gif{
    margin-left: -10px;
    margin-top: 25px;
}
.image{
    margin-left: 100px;
}
audio{
    margin-top: 5px;
}
.container:hover{
    box-shadow: 0 0 80px white;
}
.logo{
    border: 8px double black;
}
.logo:hover{
    box-shadow: 0 0 10px white;
}
h1{
    text-align: center;
}
.container1{
    background-color: rgb(244, 194, 242);
    width: 300px;
    border-radius: 30px;
    margin-left: 800px;
    margin-top: 150px;
    padding: 5px 5px;
    text-align: center;
    font-family: fantasy;
}
.container1:hover{
    box-shadow: 0 0 50px white;
    font-family:cursive ;
}
h3:hover{
    font-family:cursive ;
   
}
